@import '@economist/component-gobbet';
@import '@economist/component-palette-worldif';
@import '@economist/component-sharebar';

:root {
  --Gobbet-title-background: var(--grey, #6e7b82);
  --Gobbet-color: var(--green, #059486);
}


.wif-gobbet-logo {
  width: 38px;
  height: 38px;
  background-color: #33BDEB !important;
}
.wif-gobbet-logo use {
  transform: scale(0.75) translate(6px,6px);
}

/*.gobbet .worldif-logo {
  height: inherit;
  display: inline;
}
.gobbet .worldif-logo {
  background: var(--Gobbet-color, #059486);
}
.gobbet-title-wrapper {
  height: inherit;
  float: none;
}*/